
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

//@font-face {
//  font-family: 'Open Sans';
//  src: url('../fonts/nunito.tff');
//}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~font-awesome/scss/font-awesome';

@import url('~gijgo/css/gijgo.min.css');
@import url('~jquery-ui/themes/base/all.css');
@import url('~select2/dist/css/select2.css');

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.margin-top-30{  margin-top: 30px;  }
.magin-bottom-30{  margin-bottom: 30px;  }
.margin-30{  margin: 30px 0;  }

.margin-top-20{  margin-top: 20px;  }
.magin-bottom-20{  margin-bottom: 20px;  }
.margin-20{  margin: 20px 0;  }

.margin-top-15{  margin-top: 15px;  }
.magin-bottom-15{  margin-bottom: 15px;  }
.margin-15{  margin: 15px 0;  }

.margin-top-10{  margin-top: 10px;  }
.magin-bottom-10{  margin-bottom: 10px;  }
.margin-10{  margin: 10px 0;  }

.margin-top-5{  margin-top: 5px;  }
.magin-bottom-5{  margin-bottom: 5px;  }
.margin-5{  margin: 5px 0;  }

.padding-top-30{  padding-top: 30px;  }
.padding-bottom-30{  padding-bottom: 30px;  }
.padding-tb-30{  padding: 30px 0;  }
.padding-lr-30{ padding: 0 30px; }
.padding-full-30{ padding: 30px; }

.padding-top-20{  padding-top: 20px;  }
.padding-bottom-20{  padding-bottom: 20px;  }
.padding-tb-20{  padding: 20px 0;  }
.padding-lr-20{ padding: 0 20px; }
.padding-full-20{ padding: 20px; }

.padding-top-15{  padding-top: 15px;  }
.padding-bottom-15{  padding-bottom: 15px;  }
.padding-tb-15{  padding: 15px 0;  }
.padding-lr-15{ padding: 0 15px; }
.padding-full-15{ padding: 15px; }

.padding-top-10{  padding-top: 10px;  }
.padding-bottom-10{  padding-bottom: 10px;  }
.padding-tb-10{  padding: 10px 0;  }
.padding-lr-10{ padding: 0 10px; }
.padding-full-10{ padding: 10px; }

.padding-top-5{  padding-top: 5px;  }
.padding-bottom-5{  padding-bottom: 5px;  }
.padding-tb-5 {  padding: 5px 0;  }
.padding-lr-5{ padding: 0 5px; }
.padding-full-5{ padding: 5px; }

.color-white{ color: white }
.color-gray{ color: gray }
.color-red{ color: red }

.font-10{ font-size: 10px }
.font-12{ font-size: 12px }
.font-14{ font-size: 14px }
.font-16{ font-size: 16px }
.font-18{ font-size: 18px }

.line-10{ line-height: 10px }
.line-12{ line-height: 12px }
.line-14{ line-height: 14px }
.line-16{ line-height: 16px }
.line-18{ line-height: 18px }
.line-20{ line-height: 20px }
.line-22{ line-height: 22px }
.line-24{ line-height: 24px }
.line-26{ line-height: 26px }
.line-28{ line-height: 28px }
.line-30{ line-height: 30px }

.notifications-badge{ background-color: red; color: white; border-radius: 5px; text-align: center }

.middle-line {
  @media screen and (min-width: 960px) {
      background: linear-gradient(to right,
            transparent 0%,
            transparent calc(50% - 0.81px),
            lightgray calc(50% - 0.2px),
            lightgray calc(50% + 0.2px),
            transparent calc(50% + 0.81px),
            transparent 100%);
  }
}


/* Make Select2 boxes match Bootstrap3 heights: */
.select2-selection--single > .select2-selection__rendered {
  line-height: 38px !important;
}

.select2-selection {
  height: 38px !important;
}

.select2-selection__arrow {
  height: 38px !important;
}